<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cineminha</title>

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<script src="socket.io/socket.io.js"></script>
	<script src="js/socket.io-stream.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<form id="formUsuario" action="">
		<input type="text" name="txtNomeUsuario" id="txtNomeUsuario" placeholder="Nome de usuário">
	</form>


	<div id="areaEscolherTela">
		<hr />
		<button id="videoSelectBtn" class="button is-text">
			Escolher tela
		</button>
	</div>

	<hr />

	<video id="videoElement"></video>

	<hr />

	<ul id="listaUsuarios">
	</ul>

	<script src="js/index.js" controls></script>
</body>

</html>
