<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cineminha</title>

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap" rel="stylesheet">

	<script src="socket.io/socket.io.js"></script>
	<script src="js/socket.io-stream.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div id="header">
		Cineminha
	</div>

	<div id="content">
		<form id="formUsuario" action="">
			Qual o seu nome?<br>
			<input type="text" autocomplete="off" name="txtNomeUsuario" id="txtNomeUsuario" placeholder="Nome de usuário">
		</form>

		<div id="areaSalaVideo">
			<div id="videoLista">
				<video id="videoElement"></video>
				<ul id="listaUsuarios"></ul>
			</div>
		</div>

		<div id="areaEscolherTela">
			<button id="videoSelectBtn" class="button is-text">
				Escolher tela
			</button>
		</div>
	</div>


	<script src="js/index.js" controls></script>
</body>

</html>
