* {
	box-sizing: border-box;
}

body {
	background-color: black;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

#home {
	width: 100%;
	height: 100vh;
}

hr {
	border-top: 1px solid rgba(255, 255, 255, 0.65);
}

#header {
	color: white;
	background-color: #b967ff;
	width: 100%;
	padding: 5px;
}

#formUsuario {
	flex: 12;
	padding-top: 80px;
	color: white;
	font-weight: 800;
	font-size: 20px;
	text-align: center;
}

#area-video {
	background: #4c1345;
	/* overflow: auto;  antigo sem flex*/

	height: 200px;
	width: 100%;
	position: fixed;
	top: 0;
}
#area-direita {
	margin-top: 200px; /* px do area-video height */
	background-color: rgb(38, 162, 167);
	/* flex: 3; */
	/* flex-direction: column; */
}
#area-botao {
	background-color: #290046;
	/* flex: 1; */
	height: 50px;
	width: 100%;
	padding: 5px;
}
#area-chat {
	background-color:#140221;
	padding: 5px;
	flex: 7;
	overflow: auto;
}

/* scrollbar */
::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.3);
}
::-webkit-scrollbar{
	width: 8px;
	height: 6px;
}

#videoElement {
	float: left;
	background-color: #101010;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#listaUsuarios {
	color: white;
	float: left;
	padding-top: 5px;
	width: 100%;
	height: 200px;
}

#videoSelectBtn {
	display: none;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	#videoElement {
		height: auto;
		margin: 0 auto;
		align-items: center;
	}
	#listaUsuarios {
		width: 30%;
		height: 500px;
	}

	#home {
		display: none;
	}
	#area-video {
		height: 100%;
		flex: 4;
		position: initial;
		display: flex;
	}
	#area-direita {
		margin-top: 0px;
		flex: 2;

		flex-direction: column;
		display: flex;
	}
	.balao-chat {
		width: fit-content;
	}
}

button {
	background-color: #05ffa1;
	border: 0px;
	padding: 8px;
	border-radius: 5px;
}

input {
	border: 0px solid;
	border-radius: 2px;
	padding: 0px 5px;
}